<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="chevron-back" defaultHref="signin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
 
  
  <div class="the-form"> 
  <div class="section1" >

    

    <div class="email-section">
      <div class="title-holder">
        <h2> {{ 'PasswordRecovery.Title' | translate}} </h2>
        <p class="p3 ion-text-wrap">
          {{ 'PasswordRecovery.Title3' | translate}}
        </p>
      </div>
       
        <div class="border ion-text-center">
          <img src="assets/imgs/border.svg" alt="">
        </div>

        <div class="input-holder">
          <ion-label >{{ 'SignUp.Password' | translate}}</ion-label>
          <div class="input-item">
            <ion-item lines="none">
             
              <ion-input [type]="ptype" placeholder="****" [(ngModel)]="Password" (ionInput)="onPassword1Change($event)" maxlength="20" ></ion-input>
              <ion-button class="visible-btn" fill="clear" (click)="changeType()" slot="end">
                <ion-icon slot="icon-only" name="eye-outline" *ngIf="ptype!='password'"></ion-icon>
                <ion-icon slot="icon-only" name="eye-off-outline" *ngIf="ptype=='password'"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
        </div>
    
        <div class="input-holder">
          <ion-label >{{ 'SignUp.ConfirmPassword' | translate}}</ion-label>
          <div class="input-item">
            <ion-item lines="none">
             
              <ion-input [type]="ptype" placeholder="****" [(ngModel)]="ConfirmPassword" maxlength="20"></ion-input>
              <ion-button class="visible-btn" fill="clear" (click)="changeType()" slot="end">
                <ion-icon slot="icon-only" name="eye-outline" *ngIf="ptype!='password'"></ion-icon>
                <ion-icon slot="icon-only" name="eye-off-outline" *ngIf="ptype=='password'"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
       

        
          <div  class="wrapper">
        
            <div class="content">
              <p class="p3 ion-text-wrap">Password must contains</p>
              <ul class="requirement-list">
                <li>
                  
                  <ion-img style="width: 15px; height: 15px" src="{{length8_img}}" ></ion-img>

                  <p class="p3 ion-text-wrap">At least 8 characters length</p>
                </li>
                <li>
                  <ion-img style="width: 15px; height: 15px" src="{{number_img}}" ></ion-img>
                  <p class="p3 ion-text-wrap">At least 1 number (0...9)</p>
                </li>
                <li>
                  <ion-img style="width: 15px; height: 15px" src="{{letter_lowwer_img}}" ></ion-img>
                  <p class="p3 ion-text-wrap">At least 1 lowercase letter (a...z)</p>
                </li>
                <li>
                  <ion-img style="width: 15px; height: 15px" src="{{letter_special_img}}" ></ion-img>
                  <p class="p3 ion-text-wrap">At least 1 special symbol (!...$)</p>
                </li>
                <li>
                  <ion-img style="width: 15px; height: 15px" src="{{letter_upper_img}}" ></ion-img>
                  <p class="p3 ion-text-wrap">At least 1 uppercase letter (A...Z)</p>
                </li>
              </ul>
            </div>
          </div>
        
        </div>
    </div>

    <!--
    <div class="bottom-holder ion-text-center ion-padding">
      <div class="btns-holder ">
        <ion-button class="big-btn" expand="block" (click)="resetPassword()">
          <ion-label style="color: white;">Continue</ion-label>
        </ion-button>
      </div>

    </div>
-->

<div class="section2" >

    <div class="bottom-holder ion-text-center ion-padding">
      <div class="btns-holder ">
        
  
        <ion-button  style="color: white" class="big-btn" (click)="resetPassword()" expand="block">
          {{'OTPVerify.Continue' | translate }}  
         <div class="liquid" *ngIf="!isAllfilled">
          
        </div> 
        </ion-button>
      </div>
     
    </div>
  </div>
  </div>


  </div>
</ion-content>