ion-content
{
    .title-holder
    {
        h2
        {
            margin: 0;
        }

        p
        {
            color: #6C727F;
            margin-top: 10px;
            line-height: 24px;


            span
            {
                color: var(--ion-color-primary);
                font-family: 'Bold' !important;
            }
        }
    }


    .otp-holder
    {
        ion-grid
        {
            .otp
            {
                border-style: none;
                height: 80px;
                font-size: 2.5rem !important;
            }


            ion-col
            {
                .input-holder
                {
                    align-items: center;;
                    backdrop-filter: blur(5px);
                    border-radius: 9px;
                    border: 1px solid var(--ion-color-primary);
                    display: flex;
                    width: 100%;
                    height: 4.5rem;

                    ion-input
                    {
                        color: #1B7A00;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .transparentBg
    {
        background: transparent;
    }

    .coloredBg
    {
        //background: var(--ion-color-primary);
    }

    .bottom-holder
    {
        bottom: 10px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;

     
    }


    #resend
    {
     --background: transparent;
     --background-activated:transparent;
     --color-activated:#1a7a0060;
     --color: #1B7A00;
    }
}