<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab5" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Referral Code</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="height: 100%">
      <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
          <div class="holder ion-text-center animate__animated animate__zoomIn">
              <div class="img-holder">
                  <img src="assets/imgs/refc.svg" alt="">
              </div>

              <h2>Refer & Earn</h2>
              <h6 class="ion-text-wrap">
                Share this code with your friend and <br>
                both of you will get $10 free stocks.
              </h6>

              <div class="coupon-holder ion-padding-horizontal">
                <ion-item lines="none">
                  <ion-label>IONSTOCK</ion-label>
                  <div class="btn end-slot ion-activatable ripple-parent flex al-center" slot="end">
                    <img src="assets/imgs/copycode.svg" alt="">
                    <h6>Copy Code</h6>
                    <ion-ripple-effect type="bounded"></ion-ripple-effect>
                  </div>
                </ion-item>
              </div>

              <div class="btn-holder animate__animated animate__slideInUp  animate__delay-1s ion-padding-horizontal">
                  <ion-button  expand="block" class="big-btn">
                    Continue
                  </ion-button>
                </div>
          </div>
      </ion-row>
  </ion-grid>

</ion-content>