ion-toolbar
{
    --background: transparent;
    position: absolute;
    width: 100%;
}
ion-content
{
    --background: #F3FBED;
    --padding-top:65px;
    .content-holder
    {
        .img-holder
        {
            img
            {
                height: 10vh;
            }
        }
        

        h4
        {
            color: #121826;
            font-family: 'Bold';
            margin: 10px 0 0 0;
        }

        h6
        {
            color: #121826;
            font-family: 'Bold';
            margin: 10px 0 0 0;
        }

        h1
        {
            color: #121826;
            font-family: 'Bold';
            font-size: 36px;
            margin: 10px 0 0 0;
        }
    }

    .hint-holder
    {
        background: #BAF5E1;
        border-radius: 16px;
        margin-top: 20px;
        padding: 10px 0;
        ion-item
        {
            --background: transparent;
            .thumb
            {
                background: var(--ion-color-primary);
                border-radius: 6px;
                height: 40px;
                width: 40px;
                ion-icon
                {
                    color: #1B7A00;
                }
            }

            ion-label
            {
                color: #1B7A00;
                font-family: 'Medium';
                font-size: 12px;
            }
        }
    }

    .payment-selector
    {
       
        ion-item
        {
            --background: #F4F4F6;
        border-radius: 16px;
       
        margin-top: 20px;
            --padding-start:10px;
            .thumb
            {
                background: var(--ion-color-primary);
                border-radius: 6px;
                height: 40px;
                width: 40px;
                ion-icon
                {
                    color: #1B7A00;
                }
            }

            ion-label
            {
                padding: 10px 0;
                h6
                {
                    color: #121826;
                    font-family: 'Bold';
                    margin: 0;
                }

                .h7
                {
                    color: #6C727F !important;
                    font-family: 'Regular' !important;
                }
        
            }
        }
    }

    .bottom-sheet
    {
        background: white;
        border-radius: 32px 32px 0 0;
        bottom: 0;
        left: 0;
        padding: 20px;
        position: absolute;
        right: 0;
        width: 100%;

        .title-holder
        {
          
            h4
            {
                margin: 0 !important;
            }
        }
    }
}