ion-content
{
    .holder
    {
        h2
        {
            color: #121826;
            margin-bottom: 0;
        }

        p
        {
            color: #6C727F;
            line-height: 24px;
        }

        ion-button
        {
            margin-top: 30px;
        }
    }
}